
pool "rpool" compression="zstd" {
    vdev "mirror" {
        disks "c5t0d0" "c6t0d0"
    }
}

image "oci://aopc.cloud/openindiana/hipster:2024.12"

hostname "node01"

nameserver "9.9.9.9"
nameserver "149.112.112.112"

interface "net0" selector="mac:00:00:00" {

}